.footer{
background-color: #2E2F42;
padding: 100px 0;

}

.ftr-container{
  display: flex;   
  align-items: flex-start;

    padding: 0px 15px;
    /* gap: 120px; */
/* width: 1158px;
height: 112px;
max-width: 1158px; */
/* margin-left: 141px; */
 /* justify-content: center;   */

}  
   


.footer-studio{
width: 264px;
height: 112px;
max-width: 264px;
margin-left: 141px;
margin-right: 60px;

}

.footer-social{
    width: 208px;
height: 80px;
margin-left: 60px;

}


.footer_text{
font-family: "Roboto";
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #F4F4FD;
height: 72px;
}
.footer-list-social{
    display: flex;
    margin-top: 16px;
  gap: 16px;  
}
.logo_ftr{
font-family: "Raleway" , sans-serif;
font-size: 18px;
font-weight: 700;
font-style: bold;
text-transform: uppercase;
color: #4D5AE5;
line-height: 1.17;
letter-spacing: 0.03em;
display: flex;
display: inline-block;
margin-bottom: 16px;

}
.ftr_logo_studio{
    font-family: "Raleway" , sans-serif;
    color: #fff;
}
.footer-title{
    font-family: var(--font-family);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #ffffff;
}
.footer-icons{
  background-color: #4D5AE5;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
align-items: center;
    justify-content: center;
    fill:#F4F4FD ;
    transition: background-color 250ms linear;   
}


.footer-icons:hover ,
.footer-icons:focus {
background-color:#31d0aa ;
}
